html, body {
    background: url("../images/background.jpg");
    height: 100%;
    
}

section {
    padding: 30, 20;
    margin: 15%;
    background-color: lightslategray;
    height: 100%;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}